@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Broward College<br />
    111 E Broward Blvd, Fort Lauderdale FL 33003<br />
    <abbr title="Phone">P:</abbr>
    800.555.1212
</address>

<address>
    <strong>Athletic Supporters:</strong>   <a href="mailto:jocks@sweaty.com">jocks@sweaty.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>