@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>It's a little SNIPPY in here ...</h1>
    <p class="lead">... get it? Snippets ... Snippy? Oh never mind.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Docs</h2>
        <p><a class="btn btn-default" href="/Home/create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Read Docs</h2>
        <p><a class="btn btn-default" href="/Home/Read">Read &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Update Docs</h2>
        <p><a class="btn btn-default" href="/Home/Update">Update &raquo;</a></p>
    </div>
</div>